<li id="site-<%= site.id %>">
  <span class="site"><%= link_to site.name, site %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(site.created_at)%> ago.
    <% if current_user?(site.user) %>
      <%= link_to "delete", site, method: :delete,
                                  data: { confirm: "Delete #{site.name}?"} %>
    <% end %>
  </span>
</li>