<% provide(:title, "All Sites") %>
<h1>Sites</h1>
<div class="row">
  <%= content_tag :table, role: :datatable, data: { url: sites_path(format: :json)} do %>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
    </tbody>
  <% end %>
</div>